[Desktop Entry]
Version=1.0
Type=Application
Name=NotepadX
Comment=A cross-platform text editor
Exec=notepadx
Icon=notepadx
Categories=Utility;TextEditor;Development;
Terminal=false
StartupNotify=true
MimeType=text/plain;
Keywords=Text;Editor;Notepad;
